body {
    background-image: url(/Image/milky-way-2695569__480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/*.spacing
{
    margin-left:211px;
}*/
/*.side_change
{
    margin:200px;
}*/